<div class="comments">
    {{#each this}}
    <section class="comment card m-2">
        <div class="text m-2">
            {{comment}}
        </div>
        <div class="meta">
            <p class="ml-4 text-muted">-- {{user.username}} on {{format_date createdAt}} at {{format_time createdAt}}</p>
        </div>
    </section>
    {{/each}}
</div>