{{#if posts.length}}
<section>
  <h2 class="row font-weight-bold justify-content-center m-2">Your Posts</h2>

    {{#each posts as |post|}}
      {{> dashboardPosts}}
    {{/each}}

</section>
{{else}}
  <h2 class="row justify-content-center m-5">You Currently Have No Posts!</h2>
{{/if}}
<div class="row justify-content-center">
  <button type="submit" class="btn btn-lg btn-dark mx-auto"><a class="text-light" href="/dashboard/new">Add New Post</a></button>
</div>
<script src="/js/newPost.js"></script>