<div class="row justify-content-center mt-3">
  <div class="card bg-secondary mb-3 p-3">
    <h2 class="card-title">Sign Up</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">Enter Username:</label>
        <input class="form-input form-control" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Enter Password:</label>
        <input class="form-input form-control" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-dark btn-block mt-4" type="submit">LOG IN</button>
      </div>
    </form>
  </div>
  <a href="/login" class="log-in">Already a User? Log In</a>  
</div>
<script src="/js/signup.js"></script>